<section class="auth-wrapper">
    <div class="form-card">
        <div class="form-header">
            <h2>Reset Password</h2>
            <p>Welcome back! Please enter your New Password.</p>
        </div>

        <form [formGroup]="ResetPasswordData" class="modern-form" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <label for="Password">New Password</label>
                <div class="input-wrapper">
                    <input type="password" id="Password" formControlName="password" placeholder="••••••••"
                        [class.is-invalid]="password.invalid && password.touched" />
                    @if (password.getError('minlength') && password.touched) {
                    <span class="error-message">Password must be at least 6 characters</span>
                    }
                </div>
            </div>

            <div class="form-field">
                <label for="ConfirmPassword">Confirm Password</label>
                <div class="input-wrapper">
                    <input type="password" id="ConfirmPassword" formControlName="confirmPassword" placeholder="••••••••"
                        [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" />
                    @if (confirmPassword.getError('minlength') && confirmPassword.touched) {
                    <span class="error-message">Password must be at least 6 characters</span>
                    }
                    @else if(confirmPassword.hasError('passwordMismatch') && confirmPassword.touched) {
                    <span class="error-message">Passwords do not match</span>
                    }
                </div>
            </div>
            <button type="submit" [disabled]="ResetPasswordData.invalid" class="submit-btn">Reset Password</button>
        </form>
    </div>
</section>