<footer class="footer mt-auto py-5 bg-dark text-white">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 fw-bold text-info">E-COM</h5>
        <p>
          Discover the best deals and the latest trends in our premium store.
          We provide high-quality products with fast shipping and 24/7 support.
        </p>
        <div class="mt-4">
          <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa fa-instagram"></i></a>
          <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 fw-bold">Shop</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a routerLink="/shop" class="text-white text-decoration-none">All Products</a></li>
          <li class="mb-2"><a routerLink="/shop" class="text-white text-decoration-none">Best Sellers</a></li>
          <li class="mb-2"><a routerLink="/shop" class="text-white text-decoration-none">New Arrivals</a></li>
          <li class="mb-2"><a routerLink="/shop" class="text-white text-decoration-none">Offers</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 fw-bold">Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Contact Us</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Returns Policy</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">FAQs</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 fw-bold">Contact Info</h5>
        <ul class="list-unstyled">
          <li class="mb-3 d-flex align-items-center">
            <i class="fa fa-map-marker me-3 text-info fs-5"></i>
            <span>123 Market St, San Francisco, CA 94103</span>
          </li>
          <li class="mb-3 d-flex align-items-center">
            <i class="fa fa-phone me-3 text-info fs-5"></i>
            <span>+1 (555) 123-4567</span>
          </li>
          <li class="mb-3 d-flex align-items-center">
            <i class="fa fa-envelope me-3 text-info fs-5"></i>
            <span> support.ecom.com </span>
          </li>
        </ul>
      </div>
    </div>

    <hr class="my-5 border-secondary">

    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="mb-0 text-secondary">
          © {{currentYear}} E-COM Store. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <img src="https://ecommerce-platforms.com/wp-content/uploads/2020/03/payment-logos.png" height="30"
          alt="Payment Methods">
      </div>
    </div>
  </div>
</footer>