<form [formGroup]="address" class="address-container">
    <ng-template matStepLabel>Shipping Address</ng-template>

    <h3 class="section-title">Shipping Information</h3>

    <div class="address-grid">
        <div class="half-width">
            <div class="input-wrapper">
                <label class="input-label">First Name</label>
                <div class="input-inner">
                    <i class="material-icons prefix-icon">person</i>
                    <input type="text" placeholder="e.g. John" formControlName="firstName" class="custom-input">
                </div>
            </div>
        </div>

        <div class="half-width">
            <div class="input-wrapper">
                <label class="input-label">Last Name</label>
                <div class="input-inner">
                    <input type="text" placeholder="e.g. Doe" formControlName="lastName" class="custom-input">
                </div>
            </div>
        </div>

        <div class="full-width">
            <div class="input-wrapper">
                <label class="input-label">Street Address</label>
                <div class="input-inner">
                    <i class="material-icons prefix-icon">home</i>
                    <input type="text" placeholder="123 Main St" formControlName="street" class="custom-input">
                </div>
            </div>
        </div>

        <div class="city-field">
            <div class="input-wrapper">
                <label class="input-label">City</label>
                <div class="input-inner">
                    <i class="material-icons prefix-icon">location_city</i>
                    <input type="text" placeholder="City" formControlName="city" class="custom-input">
                </div>
            </div>
        </div>

        <div class="state-field">
            <div class="input-wrapper">
                <label class="input-label">State</label>
                <div class="input-inner">
                    <input type="text" placeholder="ST" formControlName="state" class="custom-input">
                </div>
            </div>
        </div>

        <div class="zip-field">
            <div class="input-wrapper">
                <label class="input-label">Zip Code</label>
                <div class="input-inner">
                    <i class="material-icons prefix-icon">map</i>
                    <input type="text" placeholder="Zip" formControlName="zipCode" class="custom-input">
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <button mat-flat-button (click)="UpdateAddress()" matStepperNext [disabled]="!address.valid" class="next-btn">
            Save & Continue
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</form>